<div class="container">
    <div class="task">
        <div class="itens">
            <h4>Task Information</h4>
            <div class="item-1">
                <label for="nome-task">Nome da Task: </label>
                <input type="text" name="nome-task" />
            </div>
            <div class="item-2">
                <label for="dresc-task">Descrição da Task: </label>
                <input type="text" name="dresc-task" />
            </div>
            <div class="item-3">
                <label for="resp-task">Responsável da Task: </label>
                <input type="text" name="resp-task" />
            </div>
            <div class="item-4">
                <label for="data-cria">Data da Criação: </label>
                <input type="text" name="data-cria" />
            </div>
            <div class="item-5">
                <label for="data-term">Data da Termino: </label>
                <input type="text" name="data-term" />
            </div>

        </div>

        <div class="button">
            <button>To send</button>
        </div>
    </div>
</div>