<div class="container">
    

    <div class="item-1">
        Nome da Task:<input type="text" name="nomedatask" id="nomedatask" >

    </div>
    <div class="item-2">
        Descrição da Task:<input type="text" name="descricaodatask" id="descricaodatask" >

    </div>
    <div class="item-3">
        Responsável da Task:<input type="text" name="responsaveldatask" id="responsaveldatask" >


    </div>
    <div class="item-4">
        Data da Criação :<input type="data" name="datadecriacao" id="datadecriacao" >


    </div>
    <div class="item-5">
        Data da Termino:<input type="data" name="datadetermino" id="datadetermino" >

    </div>

</div>