.container {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    box-shadow: 3px 3px 15px #696969;
   
}

.user-info {
    display: grid;
    grid-template-rows: 150px 200px 1fr;

}

.profile {
    /* background: #a5a5eb; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 10px;
    justify-items: center;
}

.profile .img {
    width: 80px;
    height: 80px;
    background: #f1eca9;
    border-radius: 50%;
}

.member {
     background: #e2a6f1;
}

.user-info .menu {
     /* background: #a9f1a9; */
    

}
.user-info .menu li{
    list-style: none;
    padding: 15px 20px;
    
}
.user-info .menu li i{
   color: #696969;
   font-size: 19px;
   margin-right: 15px;
}

.user-info .menu li a{
   color: #696969;
   font-size: 19px;
   text-decoration: none;
}

.content {
    background: #fafafd;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.content .box-1{
    display: grid;
    
}

.content .box-2{
    background: #94e691;
}

.content .box-3{
    background: #e26666;
}

.content .box-4{
    background: #dc82ec;
}