:root {
    --bg-menu: #e2e9ef;
    --shadow: #696969;
}

.container {
    margin: 20px auto;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 350px;
    box-shadow: 3px 3px 15px #696969;
    border-radius: 10px;
   
}

.user-info {
    display: grid;
    grid-template-rows: 150px 1fr;
}

.profile {
    /* background: #a5a5eb; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 10px;
    justify-items: center;
}

.profile .img {
    width: 80px;
    height: 80px;
    background: #f1eca9;
    border-radius: 50%;
}

.user-info .menu li{
    list-style: none;
    padding: 15px 20px;
    
}
.user-info .menu li i{
   color:  #696969;
   font-size: 15px;
   margin-right: 15px;
}

.user-info .menu li a{
   color:  #696969;
   font-size: 15px;
   text-decoration: none;
}

.user, .user-info{
    background: #f7f8fa;
    margin: 5px;
}

.content {
    display: grid;
    grid-template-rows: 100px 200px 1fr;
    padding: 40px;
}

.content .search {
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: space-between;
    align-items: center;
  
}

.content .search .input {
    background: #f1f8ff;
    display: flex;
    height: 40px;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.content .search .input input{
    background: transparent;
    border: none;
    margin-left: 15px;
    height: 30px;
    width: 160px;
    outline: none;
}

.content .search .input .icon{
    background: #6555e2;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.content .info {
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    gap: 30px;
}
.content .info .box1 {
    background: #fadbbd;
}
.content .info .box2 {
    background: #f0ecfe;
}

.content .adm{
    display: grid;
    grid-template-columns: 1.4fr 1.1fr;
    gap: 30px; 
    margin-top: 30px;
}

.content .adm .team{
    background: #f1a9db;
}
.content .adm .task{
    background: #cfbdfa;
}

.content .adm .team .title{
    background: #e5f7f0;
    display: flex;
    align-items: center;
    height: 50px;
}

.content .adm .team .title span{
    font-size: 18px;
    font-weight: 600;
}

.content .adm .team .title .ball{
    background: #43af74;
    width: 30px;
    height: 30px;
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 25px;
}

.content .adm .team .title .ball i{
    color: #fff;
    font-size: 22px;
}

.container .user{
    display: grid;
    grid-template-rows: 100px 180px 120px  1fr;
    gap: 10px;
}

.container .user .box-1{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 28px;
}

.container .user .box-1 i{
    margin: 0 10px;
    font-size: 23px;
    color: #696969;
}

.container .user .box-2 {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .user .box-2 .ball .img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.container .user .box-3{
    background: #dfb9e0;
}

.container .user .box-4{
    background: #bae7ba;
}